.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.login > p {
  font-size: 18px;
  color: #3f51b5;
  margin: none;
}

.errorMessage {
  color: rgb(180, 0, 0) !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  align-self: center;
  margin: 0 50 0 0;
  padding: 0;
}
