.app__body {
  justify-self: center;
  align-self: center;
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
  display: flex;
}

@media only screen and (min-width: 768px) {
  .app__body {
    width: 100vw;
    height: 100vh;
  }
}
