.register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.register > p {
  font-size: 18px;
  color: #3f51b5;
  margin: none;
}
