.typingbar {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(230, 230, 230);
}

.typing-search {
  flex: 1;
  border-radius: 20px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
