.typingbar {
  min-height: 36px;
  display: grid;
  grid-template-columns: 1fr [col1] auto[row2];
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(235, 235, 235);
  /* border: 1px solid rgb(230, 230, 230); */
}

.typing-search {
  flex: 1;
  border-radius: 20px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.form {
  height: auto;
}

@media only screen and (max-width: 767.98px) {
  .typingbar {
    padding: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .typingbar {
    padding: 16px;
  }
  .form {
    height: a;
  }
}
